.App {
  text-align: center;
}

.all-articles-header {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-list-tile {
  border-top: 2px solid grey;
  display: flex;
  flex-wrap: wrap;
  min-height: 5rem;
}

.comment-icon {
  height: 1rem;
  position: absolute;
  right: 2rem;
}

.comment-number-text {
  position: absolute;
  right: 1rem;
}

.article-list-photo {
  float: left;
  height: 5rem;
  left: 1rem;
}

.article-list-author {
  margin: 5px;
  font-size: 0.9rem;
}

.article-list-title {
  margin-bottom: 5px;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .article-list-tiles {
    display: grid;
    grid-template-columns: 1rem 1rem;
    justify-content: center;
  }
}
