.App {
  text-align: center;
  background-color: rgb(199, 185, 185);
  overflow-x: hidden;
}

.login-btn-img {
  height: 3rem;
  position: relative;
  right: -150px;
}

.user-avatar {
  height: 3rem;
  position: relative;
  right: -150px;
}

.logged-in-text {
  position: relative;
  left: -50px;
  top: 50px;
}

.topic-btn {
  margin-left: 1%;
  width: 32%;
  border: none;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.all-articles-btn {
  width: 20rem;
  height: 5rem;
  font-size: 25px;
}

.all-articles-header {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recent-articles-header {
  font-size: 1.5rem;
}

.article-list-tile {
  border-top: 2px solid grey;

  flex-wrap: wrap;
  height: 180px;
  background-color: rgb(233, 221, 221);
}

.comment-number-text {
  position: relative;
  font-size: 14px;
  right: -1rem;
  top: -3.5rem;
  width: 110px;
}

.article-list-photo {
  position: relative;
  float: left;
  height: 5rem;
  left: 0.5rem;
  top: 3rem;
}
.article-list-title {
  text-align: left;
  position: relative;
  font-size: 1rem;
  right: 7rem;
  min-height: 4rem;
  width: 120%;
  top: -1rem;
  text-decoration: none;
}

.article-list-preview {
  margin: 0;
  border: 0;
  bottom: 3.2rem;
  position: relative;
  width: 65%;
  left: 8rem;
  min-height: 6rem;
  font-size: 0.8rem;
}

.article-list-tiles :link {
  text-decoration: none;
}

.article-list-tile :visited {
  text-decoration: none;
}

.article-list-tile :hover {
  text-decoration: none;
}

.article-list-tile :active {
  text-decoration: none;
}

.recent-articles-timestamp {
  position: relative;
  right: 7.4rem;
  bottom: 4.6em;
  font-size: 13px;
}

.timestamp-icon {
  position: relative;
  bottom: 4rem;
  height: 1rem;
  border-radius: 50%;
}

.article-body {
  position: relative;
  border: 1px solid white;
  background-color: rgb(226, 218, 218);
  border-radius: 10px;
  left: 17px;
  width: 90%;
  margin-bottom: 20px;
  padding: 0;
}

.comment-tile {
  padding: 10px;
  background-color: antiquewhite;
  border-top: 2px solid grey;
}

.comment-body {
  position: relative;
  font-size: 12px;
  width: 70%;
  left: 90px;
  min-height: 80px;
}

.comment-author {
  position: relative;
  bottom: 77px;
  left: -140px;
  font-size: 12px;
}

.comment-votes {
  position: relative;
  left: -140px;
  bottom: 50px;
}

@media screen and (min-width: 600px) {
  .article-list-tiles {
    display: grid;
    grid-template-columns: auto auto;
    border: 2px solid grey;
    padding: 10px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
  }

  .article-list-tile {
    border: 2px solid grey;
    width: 900px;
    margin: 0;
    padding: 0;
  }

  .article-list-photo {
    top: 37px;
  }

  .article-list-preview {
    width: 50%;
    left: 9.2rem;
  }

  .comment-number-text {
    bottom: 10px;
  }

  .recent-articles-timestamp {
    left: -24rem;
    top: -4.4rem;
  }

  .topic-btn {
    height: 50px;
    font-size: 20px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid black;
  }
  .article-body {
    left: 5rem;
    font-size: 20px;
  }

  .comment-tile {
    width: 50%;
    position: relative;
    left: 30rem;
  }

  .comment-body {
    left: 14rem;
  }

  .comment-author {
    left: -25rem;
    font-size: 15px;
  }

  .comment-votes {
    left: -25rem;
  }
}
